body {
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: #a8a0e259;
}
.header {
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  border-bottom: solid #6d83a7d8 2px;
}

.main {
  display: flex;
  justify-content: space-around;
  padding: 60px;
  margin: 40 px 20px;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: solid black 2px;
  padding: 40px;
}
.square {
  height: 25px;
  width: 25px;
  background-color: white;
  border-left: solid 1px black;
  border-bottom: solid 1px black;
}
.container {
  display: flex;
  padding: 1px;
  justify-content: center;
  flex-wrap: wrap;
  width: 502px;
  border: solid 4px;
}
.top {
  border-top: solid 1px black;
}
.right {
  border-right: solid 1px black;
}

.btn {
  align-items: center;

  background-color: #fff;

  border: 2px solid #000;

  box-sizing: border-box;

  color: #000;

  cursor: pointer;

  cursor: pointer;

  font-size: 16px;

  font-weight: 600;

  height: 48px;

  justify-content: center;

  letter-spacing: -0.8px;

  line-height: 24px;

  min-width: 140px;

  padding: 0 17px;

  text-align: center;

  transition: all 0.3s;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn:focus {
  color: #171e29;
}

.btn:hover {
  border-color: #06f;

  color: #06f;

  fill: #06f;
}

.btn:active {
  border-color: #06f;

  color: #06f;

  fill: #06f;
}

@media (min-width: 768px) {
  .btn {
    min-width: 170px;
  }
}
